<!-- Visualization 1 -->
<div *ngIf="showVis" class="col-12 visualization-container">

  <div *ngIf="this.vis.type === VisualizationTypeEnum.rad_tree">
    <div class="row align-items-center block-title">
      <div class="col-auto">
        <h4>Radial Tree</h4>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" (click)="fetchClick()"> Re-Generate </button>
      </div>
    </div>
    <app-radial-tree [maxDepth]="depth" [infectionTreeData]="data" [stepSize]="step"></app-radial-tree>
  </div>

  <div *ngIf="this.vis.type === VisualizationTypeEnum.line_plot">
    <div class="row align-items-center block-title">
      <div class="col-auto">
        <h4>Line Plot</h4>
      </div>
      <div class="col-auto">
        @if (!temps && !demoNum) {
          <button class="btn btn-primary" (click)="fetchClick()"> Re-Generate </button>
        }
      </div>
    </div>
    <app-line-plot
      [temps]="temps"
      [demoNum]="demoNum"
      [onlyShowX]="onlyShowX"
      [showDots]="showDots"
      [drawLine]="drawLine"
      [plotData]="data['plot_data']"
      [yLabel]="yLab"
      [xLabel]="xLab"
    ></app-line-plot>
  </div>

</div>
