<div *ngIf="showVis" class="col-12 visualization-container">

  
  <div *ngIf="this.vis.type === VisualizationTypeEnum.inf_tree">
    <div class="row align-items-center block-title">
      <div class="col-auto">
        <h4>Infection Tree</h4>
      </div>
      <div class="col-auto">
        @if (showReGenerate) {
          <button class="btn btn-primary" (click)="fetchClick()"> Re-Generate </button>
        }
      </div>
    </div>
    <app-infection-tree
    [maxDepth]="depth"
    [infectionTreeData]="data"
    [stepSize]="step"
    [showNodeIds]="showNodeIds"
    ></app-infection-tree>
  </div>

  <div *ngIf="this.vis.type === VisualizationTypeEnum.rad_tree">
    <div class="row align-items-center block-title">
      <div class="col-auto">
        <h4>Radial Tree</h4>
      </div>
      <div class="col-auto">
        @if (showReGenerate) {
          <button class="btn btn-primary" (click)="fetchClick()"> Re-Generate </button> 
        }
      </div>
    </div>
    <app-radial-tree
    [maxDepth]="depth"
    [infectionTreeData]="data"
    [stepSize]="step"
    [showNodeIds]="showNodeIds"
    ></app-radial-tree>
  </div>

  <div *ngIf="this.vis.type === VisualizationTypeEnum.line_plot">
    <div class="row align-items-center block-title">
      <div class="col-auto">
        <h4>Line Plot</h4>
      </div>
      <div class="col-auto">
        @if (showReGenerate) {
          <button class="btn btn-primary" (click)="fetchClick()"> Re-Generate </button>
        }
      </div>
    </div>
    <app-line-plot
      [temps]="temps"
      [demoNum]="demoNum"
      [onlyShowX]="onlyShowX"
      [showDots]="showDots"
      [drawLine]="drawLine"
      [plotData]="data['plot_data']"
      [yLabel]="yLab"
      [xLabel]="xLab"
      [legend]="legend"
    ></app-line-plot>
  </div>

  <div *ngIf="this.vis.type === VisualizationTypeEnum.multiline_plot">
    <div class="row align-items-center block-title">
      <div class="col-auto">
        <h4>Line Plot</h4>
      </div>
      <div class="col-auto">
        @if (showReGenerate) {
          <button class="btn btn-primary" (click)="fetchClick()"> Re-Generate </button> 
        }
      </div>
    </div>
    <app-multiline-plot
      [plotData]="data['plot_data']"
      [yLabel]="yLab"
      [xLabel]="xLab"
      [temps]="temps"
      [showDots]="showDots"
      [blackLines]="blackLines"
      [tempsMagn]="tempsMagn"
      [lineLabels]="lineLabels"
      [vertLine]="vertLine"
    ></app-multiline-plot>
  </div>

</div>
