<div
  class="card"
  [style.background]="locked ? '#e0e0e0' : bgColor"
  [style.color]="locked ? '#6a6a6a' : textColor"
  [style.cursor]="locked ? 'not-allowed' : 'pointer'"
  [style.border]="locked  || progress > 0 ? null : '2px solid #e02988'"
  (click)="navigateToStory()"
>
  <h6>{{ title }}</h6>

  @if (!locked){
    <p><strong>{{ parseInt('' + progress * 100) }}%</strong></p>
    @if (progress == 1) {
      @if (quizPassed) {
        <p>Quiz: ✔</p>
      } @else {
        <p>Quiz: X</p>
      }
    }
    <button
      class="quiz-link"
      (click)="skipToQuiz($event)"
      [style.color]="textColor"
    >
      Skip to Quiz →
    </button>
  }
</div>
