.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.graph-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.arrow-right {
  display: inline-block;
  position: relative;
  height: 4px;
  background-color: #ccc;
  width: 55px;
}

.arrow-right::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 15px solid #ccc;
  margin: 0 10px
}

.arrow-left {
  display: inline-block;
  position: relative;
  height: 4px;
  background-color: #ccc;
  width: 55px;
}

.arrow-left::before {
  content: '';
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid #ccc;
  margin: 0 10px
}

.arrow-down {
  display: inline-block;
  position: relative;
  width: 4px;
  height: 55px;
  background-color: #ccc;
}

.arrow-down::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 15px solid #ccc;
  margin: 10px 0
}
