<div *ngIf="slide" class="story-container">
  <mat-progress-bar mode="determinate" style="color: violet" value="{{((currentSlide + 1) * 100) / totalSlides}}"></mat-progress-bar>
  <div style="display: flex; align-items: center; justify-content: space-between; padding: 0 1rem;">
    <h2>{{ title }}</h2>
    <a>Slide {{ currentSlide + 1 }} of {{ totalSlides }}</a>
  </div>
  <div class="slide" style="justify-content: center">
    <p style="display: flex; justify-content: center; padding: 0 1rem;">{{ slide.content }}</p>
    <img *ngIf="imagePath != 'http://localhost:8000/static/images/'" [src]="imagePath" alt="Slide image" style="width: 600px; display: block; margin: 0 auto;" />
    <div *ngIf="currentSlide === 2" class="rad-tree">
      <app-radial-tree [maxDepth]="4" [infectionTreeData]="infectionTreeData" [stepSize]="50"></app-radial-tree>
    </div>
    <!-- Rad tree with slider -->
    <div *ngIf="currentSlide === 4" class="rad-tree">
      <div class="d-flex align-items-center gap-2">
        <app-slider [min]="0" [max]="5" (valueChange)="onSliderChange($event)"></app-slider>
        <span class="">Days Passed: {{ maxDepth }}</span>
      </div>
      <app-radial-tree [maxDepth]="maxDepth" [infectionTreeData]="infectionTreeData" [stepSize]="50"></app-radial-tree>
    </div>
    <!-- Line Plot -->
    <div *ngIf="currentSlide === 4">
      <app-line-plot [plotData]="infectionTreeData['plot_data']"></app-line-plot>
    </div>
    <div  *ngIf="currentSlide === 4">
      <div style="margin-bottom: 100px;">
      </div>
    </div>
  </div>

  <div class="slide-nav">
    <button class="btn btn-secondary" (click)="prevSlide()" [disabled]="currentSlide === 0">Previous</button>
    <button class="btn btn-primary" (click)="nextSlide()" [disabled]="currentSlide === totalSlides - 1">Next</button>
  </div>
</div>

<div *ngIf="!slide">
  <p>Loading story...</p>
</div>
