<div *ngIf="slide" class="story-container">
  <mat-progress-bar mode="determinate" style="color: violet" value="{{((currentSlide + 1) * 100) / totalSlides}}"></mat-progress-bar>
  <div style="display: flex; align-items: center; justify-content: space-between; padding: 0 1rem;">
    <h2>{{ title }}</h2>
    <a>Slide {{ currentSlide + 1 }} of {{ totalSlides }}</a>
  </div>
  <div class="slide" style="justify-content: center">
    <p style="display: flex; justify-content: center; padding: 0 1rem;">{{ slide.text }}</p>
    <img *ngIf="imagePath != 'http://localhost:8000/static/images/'" [src]="imagePath" alt="Slide image" style="width: 600px; display: block; margin: 0 auto;" />

    <!-- Container for up to three components on the story page -->
    <div *ngIf="showVis1 || showVis2 || showSliders" style="display: flex; justify-content: center; gap: 2rem; margin-top: 2rem;">

      <!-- Visualization 1 -->
      <app-visualization-wrapper [vis]="this.vis1" [data]="infectionTreeData" [showVis]="showVis1"  (fetchData)="handleWrapperFetch()"></app-visualization-wrapper>

      <!-- Visualization 2 -->
      <app-visualization-wrapper [vis]="this.vis2" [data]="infectionTreeData" [showVis]="showVis2"  (fetchData)="handleWrapperFetch()"></app-visualization-wrapper>

      <!-- Sliders -->
      <div *ngIf="showSliders" class="col-3 visualization-container">
        <div>
          <h4>Sliders</h4>
          <div class="d-flex align-items-center gap-2" style="margin-bottom: 1rem;">
            <span>☀️</span>
            <div class="flex-grow-1" style="min-width: 150px;">
              <app-slider [min]="0" [max]="5" (valueChange)="onSliderChange($event)"></app-slider>
            </div>
            <span style="white-space: nowrap;">Days Passed: {{ maxDepth }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="storyId === 3" style="display: flex; justify-content: center; gap: 2rem; margin-top: 2rem;">

      <!-- Visualization 1 -->
      <div  class="col-3 visualization-container">
        <div>
          <div class="row align-items-center">
            <div class="col-auto">
              <h4>Radial Tree</h4>
            </div>
            <div class="col-auto">
              <button class="btn btn-primary" (click)="fetchDummyTree(5)"> Generate New Tree </button>
            </div>
          </div>
          <app-radial-tree [maxDepth]="maxDepth" [infectionTreeData]="infectionTreeData" [stepSize]="50"></app-radial-tree>
        </div>
      </div>

      <!-- Visualization 2 -->
      <div class="col-3 visualization-container">
        <div>
          <h4>Line Plot</h4>
          <app-line-plot [plotData]="infectionTreeData['plot_data']"></app-line-plot>
        </div>
      </div>

      <!-- Sliders -->
      <div class="col-3 visualization-container">
        <div>
          <h4>Sliders</h4>
          <div class="d-flex align-items-center gap-2" style="margin-bottom: 1rem;">
            <span>☀️</span>
            <div class="flex-grow-1" style="min-width: 150px;">
              <app-slider [min]="0" [max]="5" (valueChange)="onSliderChange($event)"></app-slider>
            </div>
            <span style="white-space: nowrap;">Days Passed: {{ maxDepth }}</span>
          </div>
        </div>
      </div>
    </div>

  <div class="slide-nav">
    <button class="btn btn-secondary" (click)="prevSlide()" [disabled]="currentSlide === 0">Previous</button>
    <button class="btn btn-primary" (click)="nextSlide()" [disabled]="currentSlide === totalSlides - 1">Next</button>
  </div>
</div>

<div *ngIf="!slide">
  <p>Loading story...</p>
</div>
