<div *ngIf="showSliders" class="col-12 visualization-container">
  
  <div class="row align-items-center block-title">
    <h4>Sliders</h4>
  </div>

  <div class="flex-grow-1">
  @for (slider of sliders; track slider.type) {
    <div class="d-flex align-items-center gap-2" style="margin-bottom: 1rem;">
      <span>{{ SymbolsEnum[slider.symbol] }}</span>
      <div style="flex-grow: 1;">
        <app-slider
          [min]="slider.min"
          [max]="slider.max"
          [currentValue]="slider.current_value"
          (valueChange)="onSliderValueChange(slider.type, $event)">
        </app-slider>
      </div>
      <span>{{ slider.text }}: {{ sliderValues[slider.type] ?? slider.current_value }}</span>
    </div>
  }
  </div>
</div>
